.header-text {
  margin-bottom: 20px;
}
.header-text h1 {
  margin: 20px 0px;
}
.form-container {
  font-family: "Poppins", sans-serif;
  color: rgb(58, 58, 58);
}
.creatPassForm {
  width: 300px;
}
.forms input {
  outline: none;
}
.formGroup {
  margin: 10px 0px;
}
.form-check-input {
  outline: none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  color: rgb(99, 99, 99);
}
.form-check-label span {
  font-size: 14px;
  margin-left: 10px;
  color: rgb(99, 99, 99);
}

#submitBtn {
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #037dd6;
  color: white;
  cursor: pointer;
  margin: 30px 0px;
}
#submitBtn:hover {
  background-color: #1167a6;
}
.terms-checkbox a {
  text-decoration: none;
  margin-left: 20px;
}
.termCheck {
  font-size: 7px;
}
.help-container {
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: rgb(58, 58, 58);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.helpvideo-container {
  height: 166px;
  margin-bottom: 10px;
}
.whyNeedPass-tips small {
  font-size: 10px;
}
.tips {
  margin-left: 10px;
  margin-top: 5px;
}
.tips li {
  font-size: 10px;
}
.createWalletBtn-overlay {
  width: 168px;
  height: 41px;
  background-color: rgba(228, 228, 228, 0.856);
  opacity: 0.8;
  position: absolute;
  margin-top: -71px;
  border-radius: 5px;
}
#passwordError,
#passwordNotEnough {
  color: red;
}
