.confirm-secret-backup-phrase-container {
  font-family: "Poppins", sans-serif;
  color: rgb(58, 58, 58);
}
.confirm-secret-backup-phrase-title h2 {
  margin: 10px 0px;
}
.confirm-secret-backup-phrase-title button {
  color: #ffffff;
  cursor: pointer;
  /* font-weight: 500; */
  margin-top: 15px;
  background-color: #037dd6;
  padding: 7px 60px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
#confirmSecretBackupPhrase-btn {
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #037dd6;
  color: white;
  cursor: pointer;
  margin: 25px 0px;
}
#confirmSecretBackupPhrase-btn:hover {
  background-color: #1167a6;
}

.pin-confirmation-form-container {
  text-align: center;
}
.pin-title h2 {
  font-weight: 700;
}
.timesIcon {
  font-size: 25px;
  margin-left: 95%;
  cursor: pointer;
}
.Confirm-Secret-Backup-Phrase-Modal {
  font-family: "Poppins", sans-serif;
  color: rgb(58, 58, 58);
}

.pin-confirmation-form-container {
  margin-top: 50px;
}

.success-content-container {
  display: none;
  text-align: center;
  margin-top: 70px;
}
.success-content-container h4 {
  margin: 20px 0px;
  font-weight: 500;
}
#successNextBtn {
  border: none;
  padding: 12px 100px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: #037dd6;
  color: white;
  cursor: pointer;
  margin: 20px 0px;
}
#successNextBtn:hover {
  background-color: #1167a6;
}
.confirm-phrase-input-field {
  width: 400px;
  height: 115px;
  border-radius: 5px;
  border: 0.5px solid gainsboro;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.confirm-phrase-input-field button {
  height: 30px;
  color: white;
  background-color: #037dd6;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 3px;
  cursor: text;
  font-size: 13px;
}
.confirm-phrase-button-container {
  width: 400px;
  height: 115px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 13px;
}
#dataText {
  border: 0.5px solid #80caff;
  border-radius: 5px;
  color: #037dd6;
  background-color: white;
  cursor: pointer;
  margin: 3px;
  padding: 5px 20px;
}
.confirmSecretBackupPhrase-btn-overlay {
  width: 175px;
  height: 41px;
  background-color: rgba(228, 228, 228, 0.856);
  opacity: 0.8;
  position: absolute;
  margin-top: -66px;
  border-radius: 5px;
}
.Confirm-through-encrypt {
  display: none;
}
.Confirm-through-encrypt span {
  color: #037dd6;
  margin: 20px 0px;
  cursor: pointer;
}
.Confirm-through-encrypt p {
  font-weight: 500;
}
.uploadSecretRecoveryPhrase-container {
  display: none;
  text-align: center;
  margin-top: 80px;
}
.uploadSecretRecoveryPhrase-container h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

.upload-area {
  border: 0.5px dashed #80caff;
  border-radius: 5px;
  color: rgb(126, 126, 126);
  cursor: pointer;
  font-size: 18px;
  width: 350px;
  height: 150px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.uploaded-text {
  color: rgb(0, 155, 0);
}
.cloudUpload-icon {
  font-size: 40px;
  color: #037dd6;
  margin-top: 10px;
}
.uploadSecretRecoveryPhrase-container button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #037dd6;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 60px;
  font-size: 18px;
}
.uploadNextBtn-overlay {
  width: 160px;
  height: 47px;
  background-color: rgba(228, 228, 228, 0.856);
  opacity: 0.8;
  position: absolute;
  margin-top: -47px;
  border-radius: 5px;
}
