.Pin-container {
  font-family: "Poppins", sans-serif;
  color: rgb(58, 58, 58);
}
.Pin-container h1 {
  margin: 20px 0px;
}
.pin-create-form-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.pin-title {
  margin-bottom: 50px;
}

.pin-forms {
  display: flex;
  margin-bottom: 50px;
}
.pin-input input {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  padding: 10px;
  outline: none;
  border: 2px solid #037dd6;
  border-radius: 10px;
  text-align: center;
}

#confirmBtn {
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #037dd6;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
  position: relative;
}

#confirmBtn:hover {
  background-color: #1167a6;
}

.confirmBtn-overlay {
  width: 178px;
  height: 41px;
  background-color: rgba(228, 228, 228, 0.856);
  opacity: 0.8;
  position: absolute;
  margin-top: -81px;
  /* margin-right: 30px; */
  border-radius: 5px;
}

.pinPage-progress-mark {
  margin: auto;
  display: flex;
  width: 100px;
}
.pinPage-progress-mark .one,
.pinPage-progress-mark .two,
.pinPage-progress-mark .three {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: rgb(190, 190, 190);
  margin: 0px 5px;
}
.pinPage-progress-mark .two {
  background-color: rgb(20, 20, 20);
}
